<!-- HOME PAGE -->
<section id="homepage" class="homepage">
  <h2>Home Page</h2>
  <div class="postCard">
    <a href="#postNumber" class="cardTitle">First Post</a>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed dolore
      debitis, tempora atque recusandae autem dolorum nostrum voluptates aliquam
      quas nihil placeat eos veritatis dignissimos harum porro ipsa excepturi
      explicabo!
    </p>
    <p class="author">Created by: Spike</p>
  </div>
  <div class="postCard">
    <a href="#postNumber" class="cardTitle">First Post</a>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed dolore
      debitis, tempora atque recusandae autem dolorum nostrum voluptates aliquam
      quas nihil placeat eos veritatis dignissimos harum porro ipsa excepturi
      explicabo!
    </p>
    <p class="author">Created by: Spike</p>
  </div>
  <div class="postCard">
    <a href="#postNumber" class="cardTitle">First Post</a>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed dolore
      debitis, tempora atque recusandae autem dolorum nostrum voluptates aliquam
      quas nihil placeat eos veritatis dignissimos harum porro ipsa excepturi
      explicabo!
    </p>
    <p class="author">Created by: Spike</p>
  </div>
</section>