<!-- LOGIN/SIGNUP FORM -->
<section class="login">
  <!-- Nav Bar -->
  <nav>
    <ul>
      <li>
        <a href="/homepage">Home</a>
      </li>
      <li>
        <a href="/dashboard"> Dashboard</a>
      </li>
      <li>
        {{#if loggedIn}}
          <button id="logoutButton" class="btn-no-style">Log Out</button>
        {{else}}
          <a href="/login">Log In</a>
        {{/if}}
      </li>
    </ul>
  </nav>
  <div class="formsContainer">
    <div class="loginForm">
      <h2>Login</h2>
      <div>
        <form id="login-form" action="">
          <label>Username</label>
          <input
            class="loginUsername"
            placeholder="Username"
            id="loginUsername"
            required
          />
          <label>Password</label>
          <input
            class="loginPassword"
            placeholder="Password"
            type="password"
            id="loginUserPassword"
          />
          <button class="signInButton">Sign In</button>
        </form>
      </div>
    </div>
    <div class="signUpForm">
      <h2>Sign Up</h2>
      <div>
        <form id="signup-form" action="">
          <label>Username</label>
          <input
            id="signupUsername"
            class="signUpUsername"
            type="text"
            placeholder="Username"
          />
          <label for="">Password</label>
          <input
            id="signupUserPassword"
            class="signUpPassword"
            type="text"
            placeholder="Password"
          />
          <button class="signUpButton" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>