<!-- LOGIN/SIGNUP FORM -->
<section class="login">
  <!-- Nav Bar -->
  <nav>
    <ul>
      <li>
        <a href="/home">Home</a>
      </li>
      <li>
        <a href="/dashboard"> Dashboard</a>
      </li>
      <li>
        <a href="/login"> Log in</a>
      </li>
    </ul>
  </nav>
  <div class="formsContainer">
    <div class="loginForm">
      <h2>Login</h2>
      <div>
        <form id="login" action="">
          <label>Username</label>
          <input
            class="loginUsername"
            placeholder="Username"
            id="username"
            required
          />
          <label>Password</label>
          <input
            class="loginPassword"
            placeholder="Password"
            type="password"
            id="userPassword"
          />
          <button id="login" class="signInButton">Sign In</button>
        </form>
      </div>
    </div>
    <div class="signUpForm">
      <h2>Sign Up</h2>
      <div>
        <form id="signup" action="">
          <label>Username</label>
          <input
            id="username"
            class="signUpUsername"
            type="text"
            placeholder="Username"
          />
          <label for="">Password</label>
          <input
            id="userPassword"
            class="signUpPassword"
            type="text"
            placeholder="Password"
          />
          <button id="signup" class="signUpButton" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>