<section class="sessionTimeout">
  <!-- Nav Bar -->
  <nav>
    <ul>
      <li>
        <a href="/homepage">Home</a>
      </li>
      <li>
        <a href="/dashboard"> Dashboard</a>
      </li>
      <li>
        <a href="/login"> Log in</a>
      </li>
    </ul>
  </nav>

  <h1>
    S E S S I O N
    <br />T I M E O U T
    <br />
    P L E A S E
    <br />L O G I N
    <br />
    A G A I N .
  </h1>

</section>