/* Utilities */
:root {
  --cardBackground-color: #232b478d;
  --cardBorder-color: #323d64;
  --buttonBackground-color: #4a86e8ff;
  --buttonBorder-color: #595959;
  color: white;
}

h2 {
  font-family: "Roboto Slab", serif;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.cardTitle {
  font-family: "Raleway", sans-serif;
  display: block;
  text-align: center;
}

.author {
  font-size: 10px;
  text-align: right;
  margin-right: 30px;
}

.postCard {
  width: 80%;
  margin-left: 10%;
  margin-top: 40px;
  background-color: var(--cardBackground-color);
  border: 1px solid var(--cardBorder-color);
}

/* STYLES TO LANDING PAGE */
h1 {
  font-size: 50px;
  margin-top: 500px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
}

.landingpage {
  height: 100vh;
  /* Image by Javier Miranda: https://unsplash.com/photos/Jn2EaLLYZfY */
  background-image: url(./images/landingpage.jpg);
  background-size: cover;
}

/* STYLES TO NAV BAR */
nav {
  text-align: right;
  margin-right: 40px;
}

nav li {
  display: inline;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

/* STYLES TO HOME PAGE */
.homepage {
  height: 100vh;
  /* Image by Federico Beccari: https://unsplash.com/photos/eGJg5iRGlg8 */
  background-image: url(./images/general.jpg);
  background-size: cover;
}

/* STYLES TO DASHBOARD */
.dashboard {
  height: 100vh;
  /* Image by Federico Beccari: https://unsplash.com/photos/eGJg5iRGlg8 */
  background-image: url(./images/general.jpg);
  background-size: cover;
}

.newPost {
  height: 40px;
  width: 50%;
  margin-top: 40px;
  margin-left: 25%;
  color: white;
  background-color: var(--buttonBackground-color);
  border: 1px solid var(--buttonBorder-color);
  border-radius: 15px;
}
